/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

<style>
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:wght@300&family=Pridi&family=Raleway:wght@500&family=Ultra&display=swap');
</style>

a:link, a:visited {
	color: red;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family:'Lora', serif;
	font-weight: 500;
	margin-bottom: 1em;

}

code {
	
}

h1, h2, h3 {
    margin-bottom: 1em;
}

h1 {

}

h2 {

}

h3 {
	
}

header {
	
}

main {
   margin-bottom: 1em;
}

p {
  size: 18px;
}

#intro {
   margin-bottom: 1em;
}

#how-does-it-work, #influence, #joke {
	text-align: left;
    margin-bottom: 1em;

}
